html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(181, 206, 223);
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 1em;
}

#hint {
    font-size: x-large;
    text-align: center;
    visibility: hidden;
}

#button {
    height: 75vh;
    width: 75vh;
    background-color: darkgray;
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: gray;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 70vh;
    font-size: 5em;    
}

#info {
    font-size: x-large;
    font-weight: bold;
    margin: 0 auto;
    color: black;
}

#status {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    background-color: gray;
    border-radius: 100%;
}

#connectionHandler {
    position: absolute;
    left: 20px;
    top: 2px;
}

@media screen and (orientation: portrait) {
    #button {
        height: 95vw;
        width: 95vw;
        line-height: 89vw;
        font-size: 3em;
    }

    main {
        height: 90vh;
        gap: 3em;
    }

    #hint {
        font-size: medium;
    }
}